@import url(style.css);

@media screen and (max-width:1200px){
    .content-btn{
        min-width: 400px;
        min-height: 500px;
    }
    h1{
        font-size: 45px;
    }
}
@media screen and (max-width:865px) {
    h1{
        font-size: 30px;
    }
    footer{
        padding: 50px 0;
    }
    .footer-wrapper{
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
    .footer-content-wrapper *{
        text-align: center;
    }
    .content-btn{
        min-width: 250px;
        min-height: 350px;
    }
}