@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    width: 100%;
    background-color: #fff;
    font-family: 'PT Sans';
    display: flex;
    justify-content: center;
}
body *::selection{
    background-color: #f2df3a;
}
/* body *{
    outline: 1px solid #fff;
} */
main{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.content-header-wrapper{
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
}
.content-header-h1{
    position: absolute;
    left: 5%;
    color: #000;
}
.back-btn{
    user-select: none;
    position: absolute;
    right: 0;
    width: 80px;
    height: 80px;
    transition: 0.1s;
    cursor: pointer;
}
.back-btn:hover{
    transition: 0.1s;
    transform: scale(1.1);
}
.back-btn img{
    width: 100%;
    height: 100%;
}
.content-wrapper{
    position: relative;
    width: 100%;
    min-height: 84.7901364113vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 50px;
}
.content-btn-midle{
    position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border: 2px solid #000;
    border-radius: 15px;
}
.content-btn-midle img{
    position: absolute;
    top: 0;
    border-radius: 15px;
    width: 100%;
    height: 350px;
}
.content-btn-text-wrapper{
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 20%;
    /* outline: 1px solid #000; */
}
.content-btn-text-wrapper *{
    width: 50%;
    height: 100%;
    /* outline: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-btn-text-wrapper .content-btn-opener{
    cursor: pointer;
    border-radius: 15px;
    background-color: #f2df3a;
    transition: 0.2s;
}
.content-btn-text-wrapper .content-btn-opener:hover{
    transition: 0.2s;
    background-color: #ffe600;
}
.list-wrapper{
    width: 100%;
    height: 100vh;
}
h1{
    text-align: center;
}
@media screen and (max-width: 1600px){
    .content-wrapper{
        padding: 50px 0;
    }
}