@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&display=swap');

body{
    width: 100%;
    font-family: 'Balsamiq Sans';
    overflow-x: hidden;
    margin: 0;
}
body::-webkit-scrollbar{
    width: 10px;
    margin: 50px;
}
body::-webkit-scrollbar-thumb{
    background-color: #1c1cde;
}
/* body *{
    outline: 1px solid #f00;
} */

header{
    width: 100%;
}
.about-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-square-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.background-square{
    position: relative;
    width: 50%;
    height: 100vh;
}
.left-square{
    background-color: #fff;
}
.right-square{
    background-color: #000;
}
h1{
    font-family: 'Rubik Mono One';
    text-align: center;
    color: #000;
    position: absolute;
    display: block;
    font-size: 50px;
    z-index: 2;
    filter: invert();
    mix-blend-mode: difference;
    user-select: none;
    line-height: 150%;
}
.to-bottom-img{
    position: absolute;
    bottom: 0;
}
.to-bottom-img img{
    width: 80px;
    cursor: pointer;
    user-select: none;
}
.top-window{
    border: 1px solid #000;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left: none;
    background-color: #fff;
}
.header-btn-wrapper{
    position: absolute;
    right: 10%;
    z-index: -1;
}
.header-btn{
    user-select: none;
    font-family: 'Rubik Mono One';
}
.click-area-language{
    cursor: pointer;
}
.circle-btn{
    position: absolute;
    left: 10%;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #000;
    cursor: pointer;
}
.bottom-window{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 13%;
    z-index: 99;
    height: 13%;
    background-color: #fff;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-right: none;
}
.bottom-window img{
    cursor: pointer;
    width: 40%;
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(0%) sepia(84%) saturate(7500%) hue-rotate(329deg) brightness(89%) contrast(114%);
}

main{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.content-wrapper{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-btn-wrapper{
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    /* scroll-snap-type: x mandatory; */
}
.content-btn-wrapper::-webkit-scrollbar{
    width: 10px;
    margin: 50px;
}
.content-btn-wrapper::-webkit-scrollbar-thumb{
    background-color: #1c1cde;
    border-radius: 100px;
}
.content-btn{
    cursor: pointer;
    user-select: none;
    min-width: 450px;
    min-height: 550px;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* scroll-snap-align: start; */
}
.content-btn::after{
    height: 100%;
    content: '';
    background-color: #000;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    z-index: 2;
    transition: 0.3s;
}
.content-btn img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.content-btn-text{
    z-index: 3;
    font-size: 35px;
    display: none;
    color: #fff;
}
.content-btn:hover .content-btn-text{
    display: block;
}
.content-btn:hover::after{
    width: 100%;
    transition: 0.3s;
}
footer{
    width: 100%;
    min-height: 40vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-wrapper{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.footer-wrapper > div{
    color: #fff;
}
.footer-content-wrapper{
    width: max-content;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 25px;
}
.h-content-footer{
    white-space: nowrap;
    font-size: 25px;
    user-select: none;
    font-weight: bold;
    /* width: fit-content; */
    text-align: left;
}
.text-content-footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text-content-footer{
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
    text-align: left;
}
.footer-telephon-number:hover{
    color: #dfdfdf;
}
.select-none{
    user-select: none;
}
.pointer{
    cursor: pointer;
}
.footer-support-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.support-wrapper{
    width: 100%;
}
.support-wrapper form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.support-input{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    font-size: 15px;
    font-family: 'Balsamiq Sans';
}
.support-input:active,:hover,:focus{
    outline: none;
}
.support-submit{
    font-family: 'Balsamiq Sans';
    min-width: 100px;
    height: 45px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: #1c1cde;
    color: #fff;
}