@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    width: 100%;
    margin: 0;
    font-family: 'PT Sans';
    background-color: #f2f2f2;
}
/* body *{
    outline: 1px solid black;
} */
body *::selection{
    background-color: #f2df3a;
    color: #000;
}
header{
    position: relative;
    background-color: #000;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.header-wrapper{
    height: 100%;
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 150%;
    font-weight: 500;
    user-select: none;
    white-space: nowrap;
}
.header-btn-wrapper{
    width: 70%;
    justify-content: right;
    align-items: center;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 15%;
}
.header-btn{
    position: relative;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.header-btn::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    border: 0px solid #000;
    transition: 0.3s;
}
.header-btn:hover::after{
    width: 100%;
    border: 1px solid #f2df3a;
    transition: 0.3s;
}
.header-title{
    position: absolute;
    left: 0;
    user-select: text;
}
main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 150px;
}
.about-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    width: 75%;
    height: 87vh;
    background-color: transparent;
    margin: 0 auto;
}
.about-text-wrapper{
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0;
    width: 60%;
    height: 60%;
    background-color: #000;
    color: #fff;
    font-size: 125%;
    /* border-radius: 15px; */
    padding: 0 50px;
}
h1{
    display: block;
    white-space: nowrap;
    position: absolute;
    right: 0;
    width: fit-content;
    font-size: 300%;
}
.content-wrapper{
    width: 75%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}
.content-btn{
    height: 60vh;
    width: 25%;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    transition: 0.5s;
    /* border-radius: 15px; */
    background-color: #000;
}
.content-btn > img{
    transition: 0.3s;
}
.content-btn:hover > img{
    opacity: 0;
    transition: 0.3s;
}
.content-btn:hover > div{
    opacity: 1;
    transition: 0.3s;
}
.content-btn img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 15px;
}
.content-btn-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50%;
    height: 25%;
    z-index: 2;
    font-size: 35px;
    opacity: 0;
    z-index: 2;
    border-radius: 15px;
    transition: 0.3s;
    transition: 0.1s;
    padding: 0 25px;
}
.support-wrapper{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-form{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 38px;
}
.support-text{
    text-align: center;
    font-size: 40px;
    color: #fff;
}
.support-arrow{
    height: 10%;
    user-select: none;
}
.support-arrow > img{
    height: 100%;
}
.support-input{
    width: 90%;
    height: 8%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-size: 20px;
}
.support-input::placeholder{
    user-select: none;
}
.support-submit-btn{
    width: 25%;
    height: 10%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.support-submit-btn:hover{
    background-color: #f2df3a;
    /* color: #fff; */
    transition: 0.3s;
}
footer{
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #fff;
}
footer *{
    user-select: none;
    white-space: nowrap;
}
.footer-wrapper{
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content-wrapper{
    width: fit-content;
    position: relative;
    display: flex;
    color: #fff;
}
.footer-content-wrapper *{
    display: flex;
    justify-content: center;
}
.footer-text{
    font-size: 30px;
    font-weight: bold;
}
.footer-btn-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-btn{
    font-size: 25px;
}
.type-btn{
    cursor: pointer;
    transition: 0.1s;
}
.type-btn:hover{
    color: #f2df3a;
    transition: 0.1s;
}
.footer-img{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}
.default{
    flex-direction: column;
    gap: 25px;
}
.social{
    gap: 50px;
    right: 0;
}
.footer-telephon-number{
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.footer-telephon-number:hover{
    color: #f2df3a;
    transition: 0.1s;
}